<a href="https://colab.research.google.com/github/gopika20077/ict_assignments/blob/main/assignment01_gopika.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.**

In [ ]:
# input function
# Input for item 1
item1_price = float(input("Item1 price: "))
item1_quantity = int(input("Item1 quantity: "))
# Input for item 2
item2_price = float(input("Item2 price: "))
item2_quantity = int(input("Item2 quantity: "))
total_bill = (item1_price * item1_quantity) + (item2_price * item2_quantity)
print("Total Bill:",int(total_bill))

Item1 price: 45
Item1 quantity: 2
Item2 price: 35
Item2 quantity: 4
Total Bill: 230

**2.**

In [ ]:
c = float(input("Enter the temperature in celsius: "))
f = (c*9/5)+32
print("Temperature in farenheit=",f)

Enter the temperature in celsius: 12
Temperature in farenheit= 53.6

**3.**

In [1]:
salary = int(input("enter your salary:"))
salary_hra = salary*20/100 + salary
salary_d = salary_hra*10/100 + salary
print(salary_d)

enter your salary:55000
61600.0

**4.**

In [2]:
print("interest calculator")
p = int(input("enter principal:"))
r = float(input("enter rate of interest"))
t = int(input("time(in years)"))
si = (p*r*t)/100
print(si)

interest calculator
enter principal:20000
enter rate of interest4
time(in years)2
1600.0

**5.**

In [6]:
print("Time conversion")
minutes = float(input("Enter total input:"))
hours = minutes/60
print(hours)

Time conversion
Enter total input:120
2.0

**6.**

In [8]:
weight_kg = float(input("enter weight in kg:"))
height_m = float(input("enter height in m:"))
bmi = weight_kg / (height_m ** 2)
print("bmi:",bmi)

enter weight in kg:50
enter height in m:1.25
bmi: 32.0

**7.**

In [10]:

ogprice = int(input("orginal input price"))
dis = ogprice - (ogprice * 10/100)
print(dis)

orginal input price1000
900.0

**8.**

In [17]:
a=float(input("enter side a"))
b=float(input("enter side b"))
c=float(input("enter side c"))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print(area)

enter side a6
enter side b7
enter side c8
20.33316256758894

**9.**

In [18]:
print("Paint Cost Estimator")
l = float(input("Enter length of the wall:"))
b = float(input("Enter breadth of the wall:"))
area = l * b
area_w = 2*(1.5 * 1.2)
paint = area - area_w
print(paint,"sq.m")
cost = paint * 25
print(cost)

Paint Cost Estimator
Enter length of the wall:16
Enter breadth of the wall:8
124.4 sq.m
3110.0

**10.**

In [19]:
a=float(input("Enter number of units consumed"))
b=(a*5.2)+100
print(b)

Enter number of units consumed150
880.0